header {
    display: flex;
    flex-direction: row;
    padding: 30px 40px 30px 40px;
    justify-content: space-between;
}

.initials-in-capitals {
    color: #3c65ff;
    font-size: 42px;
    font-weight: 500;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
}

.header-shortcuts {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.header-socials-icons {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hfbsvg {
    height: 32px;
}

.hfbsvg1 {
    fill: white;
}

.hfbsvg2 {
    fill: #3c65ff;
}

.hfbsvg3 {
    fill: #3c65ff;
}

.hinstsvg {
    fill: white;
    height: 32px;
}

.hinstsvg3 {
    fill: #3c65ff;
}

.hinstsvg5 {
    fill: #3c65ff;
}

.hinst img {
    border: 1px solid black;
    border-radius: 16px;
    height: 32px;
}

.hyoutubesvg {
    fill: #3c65ff;
    height: 32px;
}

.hyoutubesvg1 {
    fill: white;
}

.hyoutubesvg2 {
    fill: #3c65ff;
}